{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panoramica Fitness</title>
    <link rel="stylesheet" href="{% static 'fitness/style.css' %}">
</head>
<body>
    <h1>Panoramica Fitness per {{ member.user.first_name }} {{ member.user.last_name }}</h1>
    <p><strong>Altezza:</strong> {{ member.altezza }} cm</p>
    <p><strong>Peso:</strong> {{ member.peso }} kg</p>

    <h2>Caratteristiche Fisiche</h2>
    <ul>
        {% for caratteristica in caratteristiche %}
            <li>{{ caratteristica.get_tipo_peso_display }}</li>
        {% empty %}
            <li>Nessuna caratteristica fisica registrata.</li>
        {% endfor %}
    </ul>

    <h2>Obiettivi Fitness</h2>
    <ul>
        {% for obiettivo in obiettivi %}
            <li>{{ obiettivo.get_obiettivo_display }} - {{obiettivo.data_inizio}} - {{ obiettivo.note }}</li>
        {% empty %}
      
            <li>Nessun obiettivo fitness registrato.</li>
        {% endfor %}
    </ul>

    <h2>Piani</h2>
    <ul>
        {% for plan in plans %}
            <li>
                <strong>{{ plan.title }}</strong>
                <ul>
                    {% for workout in plan.workouts.all %}
                        <li>{{ workout.title }} - {{ workout.desc }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>Nessun piano disponibile.</li>
        {% endfor %}
    </ul>
    
    <!-- 
    <h2>Workout Disponibili</h2>
    <ul>
        {% for workout in workouts %}
            <li>{{ workout.title }} - {{ workout.desc }}</li>
        {% empty %}
            <li>Nessun workout disponibile.</li>
        {% endfor %} 
    </ul> -->

   
</body>
</html>
