  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Fytex</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Scopri il tuo programma di allenamento.
                </h3>
                <p>
                     <strong>Scegli in base ai tuoi obbiettivi e alle tue caratteristiche fisiche</strong>.
                </p>
            </div>
        </div>
    </div>
    <!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esempio Tabella HTML</title>
</head>
<body>

<table border="1">
    <caption>Varie schede di allenamento</caption>
    <thead>
        <tr>
            <th>Mantieni la tua forma fisica</th>
            <th>Migliora la tua massa muscolare</th>
            <th>Perdi i tuoi kg di troppo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>30 minuti di attività fisica al giorno</td>
            <td>Riga 1, Cellula 2</td>
            <td>Riga 1, Cellula 3</td>
        </tr>
        <tr>
            <td>Bevi almeno 1.5 litri d'acqua al giorno</td>
            <td>Riga 2, Cellula 2</td>
            <td>Riga 2, Cellula 3</td>
        </tr>
        <tr>
            <td>Segui una dieta bilanciata</td>
            <td>Riga 3, Cellula 2</td>
            <td>Riga 3, Cellula 3</td>
        </tr>
    </tbody>
</table>

</body>
</html>